%h3 Home
%ul
  %li
    %b #{link_to 'Click here', scenarios_path} 
    for a list of scenarios you can attempt
  %li 
    %b #{link_to 'Click here', download_key_path} 
    to download your private key.
