%h3 Home
%h4 Make sure to chmod 600 your key, and use ssh -i keyfile.pem!
%ul
  %li
    %b #{link_to 'Click here', scenarios_path} 
    for a list of scenarios you can attempt
  %li 
    %b #{link_to 'Click here', download_key_path} 
    to download your private key in order to access Edurange.
